@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Styles */
@font-face {
  font-family: 'BatonGreekBold';
  src: url("/fonts/BatonGreekBeta-Bold.otf");
}

@font-face {
  font-family: 'Basis_Grotesque';
  src: url("/fonts/basis-grotesque-medium-pro.woff2");
}

:root {
  --grab-cursor : url("/images/cursors/grab.png"), auto;
  --pointer-cursor: url("/images/cursors/pointer.png"), auto;
  --watch-cursor: url('/images/cursors/watch.png'), auto;
  --hand-cursor: url("/images/cursors/hand.png"), auto;
  --drag-cursor: url("/images/cursors/drag.png"), auto;
  --default-cursor: url("/images/cursors/default.png"), auto;
}

.title-fontface { font-family: "BatonGreekBold", sans-serif; }
.content-fontface { font-family: "Basis_Grotesque", sans-serif; }
.custom-hover-pointer:hover { cursor: url("/images/cursors/pointer.png");}

/* Map Styles */
.w-container {
  height: 100vh;
  overflow: hidden;
  position: relative;
  width: 100vw;
  .map {
    cursor: var(--hand-cursor);
    height: 170vw;
    left: 0;
    position: absolute;
    top: 0;
    touch-action: none;
    user-select: none;
    width: 300vw;
    &:active { cursor: var(--drag-cursor);}
    .map_image {
      bottom: 0;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
    }
    .map-item:hover { cursor: var(--watch-cursor); }
  }
}



/* Modal Styles  */
.modal-container { 
  @apply fixed top-0 left-0;
  .modal-content {
    @apply flex justify-center items-center z-50 relative h-full w-full title-fontface;
  }
  .modal-overlay{
    @apply absolute top-0 left-0 w-full h-full bg-black bg-opacity-50;
  }
}

/* Home Styles */

.start-button {
  @apply bg-orange-700 px-5 py-2 rounded-lg text-white font-bold text-3xl transition-colors duration-300;
  &:hover {
    @apply bg-orange-900;
  }
}