@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Styles */
@font-face {
  font-family: 'BatonGreekBold';
  src: url("src/assets/fonts/BatonGreekBeta-Bold.otf");
}

@font-face {
  font-family: 'Basis_Grotesque';
  src: url("src/assets/fonts/basis-grotesque-medium-pro.woff2");
}

.title-fontface { font-family: "BatonGreekBold", sans-serif; }
.content-fontface { font-family: "Basis_Grotesque", sans-serif; }
.custom-pointer:hover { cursor: url("src/assets/images/cursors/pointer.png");}

/* Map Styles */
.w-container {
  height: 100vh;
  overflow: hidden;
  position: relative;
  width: 100vw;
  .map {
    cursor: grab;
    height: 170vw;
    left: 0;
    position: absolute;
    top: 0;
    touch-action: none;
    user-select: none;
    width: 300vw;
    .map_image {
      bottom: 0;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
    }
  }
}



/* Modal Styles  */
.modal-container { 
  @apply fixed top-0 left-0;
  .modal-content {
    font-family: "BatonGreekBold", sans-serif;
    @apply flex justify-center items-center z-50 relative h-full w-full;
  }
  .modal-overlay{
    @apply absolute top-0 left-0 w-full h-full bg-black bg-opacity-50;
  }
}

/* Home Styles */

.start-button {
  @apply bg-orange-700 px-5 py-2 rounded-lg text-white font-bold text-3xl transition-colors duration-300;
  &:hover {
    @apply bg-orange-900;
  }
}